:root {
  --color-black-white: black;
  --color-white-black: white;
//   --color-black: blue;
//   --color-black: blue;
//   --color-black: blue;
//   --color-black: blue;
//   --color-black: blue;
//   --color-black: blue;
//   --color-black: blue;

}

.modeTogle :root {
  --color-black-white: white;
  --color-white-black: black;
//   --color-black: blue;
//   --color-black: blue;
//   --color-black: blue;
//   --color-black: blue;
//   --color-black: blue;
//   --color-black: blue;
//   --color-black: blue;

}

